body {
  background-color: black;
  text-align: center;
}

h1 {
  font-size: 50px;
  color: white
}

.download {
  color: Aquamarine;
  font-size: 16px;
}

h2 {
  color: White;
  font-weight: 300;
  font-size: 42 px;
}

p {
  font-size: 21 px;
  color: Gray;
}

.copyright {
  text-align: right;
}

h1, .download, h2, p, .copyright {
  font-family: Verdana;
}
